@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>


<table class="table table-bordered table-hover" id="moviesTable">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Stock</th>
            <th>Release date</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

@section scripts{
 
<script>

    $(document).ready(function () {

        var movieTable = $("#moviesTable").DataTable({
            ajax: {
                url: "/api/movies",
                dataSrc: ""
            },
            columns: [
                {
                    data:"name"
                },
                {
                    data: "stock"
                },
                {
                    data: "releaseDate",
                    render: function (data) {
                        var date = data.split("T");
                        return date[0];
                    }
                },
                {
                    data:"genre.name"
                }
            ]


        });



    });


</script>

}